{% extends "layout/base.html" %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <h2>Registro de Usuario</h2>
    <form action="{{ url_for('auth.register') }}" method="post">
      <div class="mb-2">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-2">
        <label for="phone" class="form-label">Celular</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          required
        />
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="mb-2">
        <label for="confirm_password" class="form-label"
          >Confirmar Contraseña</label
        >
        <input
          type="password"
          class="form-control"
          id="confirm_password"
          name="confirm_password"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}
