{% extends 'layout/base.html' %} {% block navbar %} {% include
'layout/navbar.html' %} {% endblock %} {% block content %}
<a
  href="{{ url_for('estudiantes.create_estudiante') }}"
  class="btn btn-primary mb-3"
  >Nuevo Estudiante</a
>
<h1>Estudiantes</h1>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha de Nacimiento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for estudiante in estudiantes %}
    <tr>
      <td>{{ estudiante.id }}</td>
      <td>{{ estudiante.nombre }}</td>
      <td>{{ estudiante.apellidos }}</td>
      <td>{{ estudiante.fecha_nacimiento }}</td>
      <td>
        <a
          href="{{ url_for('estudiantes.edit_estudiante', id=estudiante.id) }}"
          class="btn btn-sm btn-danger"
          >Editar</a
        >
        <a
          href="{{ url_for('estudiantes.delete_estudiante', id=estudiante.id) }}"
          class="btn btn-sm btn-warning"
          >Eliminar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
